<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <a href="/blog"><h1>udatheme blog</h1></a>
    </head>

    <body>

        {% block posts %}
        {% endblock posts %}

        {% block newpost %}
        {% endblock newpost %}

    </body>
</html>
