<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <a href="/blog">
            <h1>udatheme blog</h1>
        </a>
    </head>
  <body>
    {% for post in posts %}
      {% if post.title %}
        <div class="post-title">
            <b>{{ post.title }}</b> 
        </div>
      {% endif %}
      {% if post.date %}
        <div class="post-date">
            <b>{{ post.date }}</b> 
        </div>
      {% endif %}
    <hr>
      {% if post.content%}
        <div class="post-content">
            <p>{{ post.content }}</p> 
        </div>
      {% endif %}
    <br>
    {% endfor %}
  </body>
</html>
{% endautoescape %}
