<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <h1>udatheme blog</h1>
    </head>
  <body>
    <form action="./newpost" method="post">
      <div><textarea name="subject" rows="1" cols="60"></textarea></div>
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Post"></div>
    </form>

  </body>
</html>
{% endautoescape %}
