<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <a href="/blog">
            <h1>udatheme blog</h1>
        </a>
    </head>
  <body>
    <form action="./newpost" method="post">
        <div><textarea name="subject" rows="1" cols="60">{{subject}}</textarea></div>
        <div><textarea name="content" rows="3" cols="60">{{content}}</textarea></div>
      <div><input type="submit" value="Post"></div>
    </form>
    <p style="color:red">{{error}}<p>
  </body>
</html>
{% endautoescape %}
