{% extends "base.jinja2" %}

{% block newpost %}
{% autoescape true %}
    <form action="./newpost" method="post">
        <div><textarea name="subject" rows="1" cols="60">{{subject}}</textarea></div>
        <div><textarea name="content" rows="3" cols="60">{{content}}</textarea></div>
        <div><input type="submit" value="Post"></div>
        <p style="color:red">{{error}}<p>
    </form>
{% endautoescape %}
{% endblock newpost %}
