<!DOCTYPE html>
<html>
    <title>
        udatheme wiki -
        {% block title %}
        {% endblock title %}
    </title>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">

        <div id="ops_bar" style="align:right">
            <!-- edit | history         usrname( logout ) -->
            <!-- history        longin | signup -->
            {% if usr and usr.name %}
                <a href="/_edit{{article.title}}">edit</a> |
            {% endif %}
                history

            {% if usr and usr.name  %}
                {{usr.name}}( <a href="/logout">logout</a> )
            {% else %}
            <a href="/login?a={{article.title}}">login</a> | <a href="/signup?a={{article.title}}">signup</a>
            {% endif %}
        </div>
    </head>

    <body>
        {% block entry %}

        {% autoescape true %}
        <h2> {{article.title}} </h2>
        {% if article.content %}
            {{article.content}} 
        {% endif %}
        {% endautoescape %}

        {% endblock entry %}

        {% block editform %}
        {% endblock editform %}
    </body>
</html>

