<!DOCTYPE html>
<html>
    <title>
        wiki -
        {% block title %}
            {{article.title}}
        {% endblock title %}
    </title>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">

        <div id="ops_bar" style="align:right">
            <!-- edit | history         usrname( logout ) -->
            <!-- history        longin | signup -->
            {% if usrname %}
                <a href="/_edit{{article.title}}">edit</a> |
            {% endif %}
                <a href="/_history{{article.title}}">history</a>
                

            {% if usrname  %}
                {{usrname}}( <a href="/logout">logout</a> )
            {% else %}
            <a href="/login?a={{article.title}}">login</a> | <a href="/signup?a={{article.title}}">signup</a>
            {% endif %}
        </div>
    </head>

    <body>
        {% block entry %}

        <h2> {{article.title}} </h2>
        {% if article.content %}
        {% autoescape false %}
            {{article.content}} 
        {% endautoescape %}
        {% endif %}

        {% endblock entry %}

        {% block editform %}
        {% endblock editform %}
    </body>
</html>

