<!DOCTYPE html>
<html>
    <title>
        edit -
        {% block title %}
        {% endblock title %}
    </title>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">

        <div id="ops_bar" style="align:right">
            <!-- history         usrname( logout ) -->
                history

            {% if usr and usr.name  %}
                {{usr.name}}( <a href="/logout">logout</a> )
            {% else %}
                <a href="/login">login</a> | <a href="/signup">signup</a>
            {% endif %}
        </div>
    </head>

    <body>
        {% block entry %}
        {% endblock entry %}

        {% block editform %}
        <form action="./{{article.title}}" method="post">
            <h2> {{article.title}} </h2>
            <div><textarea name="content" rows="3" cols="60">{{content}}</textarea></div>
            <div><input type="submit" value="Save"></div>
            <p style="color:red">{{error}}<p>
        </form>
        {% endblock editform %}

    </body>
</html>

