<!DOCTYPE html>
<html>
    <title>
        edit -
        {% block title %}
        {% endblock title %}
    </title>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/index.css">

        <div id="ops_bar" style="align:right">
            <!-- history         usrname( logout ) -->
            <a href="/_history{{article.title}}">history</a>

            {% if usrname  %}
                {{usrname}}( <a href="/logout">logout</a> )
            {% else %}
                <a href="/login?a={{article.title}}">login</a> | <a href="/signup?a={{article.title}}">signup</a>
            {% endif %}

        </div>
    </head>

    <body>
        {% block entry %}
        {% endblock entry %}

        {% block editform %}
        <form action="/_edit{{article.title}}" method="post">
            <h2> {{article.title}} </h2>
            <div>
                <textarea name="content" rows="3" cols="60">{% if article.content %}{{article.content}}{% endif %}</textarea>
            </div>
            <div><input type="submit" value="Save"></div>
            <p style="color:red">{{error}}<p>
        </form>
        {% endblock editform %}

    </body>
</html>

